/*Reinicio del modelo de cajas */
*{
padding: 0;
margin: 0;
border: 0;
}

/*Configuracion de contenedor flex*/
#container {
    /*flex direction by default*/
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    background-color: beige;
    border: 2px solid black;
}

#container div {
    width: 40px;
    height: 40px;
    background-color: cadetblue;
}

/* navbar */

/*#navegacion{
    width: 100%;
}*/

#navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: plum;
}
/*#navegacion > ul > li {
    display: inline-block;
    width: 23%;
    text-align: center;
}*/

#navegacion > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;

}
#navegacion > ul > li {
    text-align: center;
    list-style: none;
    width: 100%;
    height: 100%;
    align-self: center;
}

#navegacion > ul > li:hover {
    background-color: pink;
    color: red;
    cursor: pointer;
}